.flows.json.backup
[
    {
        "id": "7e358819edc1de4f",
        "type": "tab",
        "label": "Thread Network",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a1a2a771626c645c",
        "type": "tab",
        "label": "Store and Retrieve JSON Data from a SQLite Database",
        "disabled": true,
        "info": "https://stevesnoderedguide.com/storing-retrieving-json-data-sqlite\r\nhttps://www.youtube.com/watch?v=81qE8wNHO5Q",
        "env": []
    },
    {
        "id": "8d169fbed83cb098",
        "type": "tab",
        "label": "time-series data",
        "disabled": true,
        "info": "https://www.youtube.com/watch?v=nkKf26oKzhQ",
        "env": []
    },
    {
        "id": "ce251345012314b9",
        "type": "tab",
        "label": "Auto Logger - Store Node-Red data in daily CSV files",
        "disabled": true,
        "info": "https://flows.nodered.org/flow/4f0653905120f422cc4f37cd5512ee14",
        "env": []
    },
    {
        "id": "804ec40c8f1f56eb",
        "type": "tab",
        "label": "MQTT MySQL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1612145bd63c7ec7",
        "type": "mqtt-broker",
        "name": "mqtt.forthtrack.com",
        "broker": "mqtt://mqtt.forthtrack.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7810a4c14fa5646d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6cc088f9da4778a3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "401d066a.62ae48",
        "type": "ui_tab",
        "name": "IoT Monitor",
        "icon": "event_note",
        "order": 12,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bb3770b.b9a7c9",
        "type": "ui_tab",
        "name": "KPI",
        "icon": "trending_up",
        "order": 13
    },
    {
        "id": "9d5d0e0a.e0772",
        "type": "ui_group",
        "name": "Filters",
        "tab": "401d066a.62ae48",
        "order": 1,
        "disp": true,
        "width": "24"
    },
    {
        "id": "31f14418.dc50dc",
        "type": "ui_group",
        "name": "Report",
        "tab": "401d066a.62ae48",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7e2730.babc99",
        "type": "ui_group",
        "name": "Solar 30 days",
        "tab": "1bb3770b.b9a7c9",
        "order": 1,
        "disp": false,
        "width": "4"
    },
    {
        "id": "68451cd2.bb5e44",
        "type": "ui_group",
        "name": "Solar 7 days",
        "tab": "1bb3770b.b9a7c9",
        "order": 2,
        "disp": false,
        "width": "4"
    },
    {
        "id": "3a578850.88b108",
        "type": "ui_group",
        "name": "Solar target",
        "tab": "1bb3770b.b9a7c9",
        "order": 3,
        "disp": false,
        "width": "4"
    },
    {
        "id": "1c25415d.b8427f",
        "type": "sqlitedb",
        "db": "/home/pi/sqlite/nodered"
    },
    {
        "id": "25cf17cc87f3840f",
        "type": "sqlitedb",
        "db": "/home/steve/.node-red/results.db",
        "mode": "RWC"
    },
    {
        "id": "1870f3379de5d94e",
        "type": "sqlitedb",
        "db": "C:\\sqllite\\time_series.db",
        "mode": "RWC"
    },
    {
        "id": "b18d834483bc3449",
        "type": "sqlitedb",
        "db": "C:\\sqllite\\test.db",
        "mode": "RWC"
    },
    {
        "id": "467bb75bf6cfb401",
        "type": "sqlitedb",
        "db": "C:\\sqllite\\time_series.db",
        "mode": "RWC"
    },
    {
        "id": "818877cea5567e69",
        "type": "sqlitedb",
        "db": "C:\\sqllite\\time_series.db",
        "mode": "RWC"
    },
    {
        "id": "252aabfa4da1c33d",
        "type": "sqlitedb",
        "db": "C:\\sqllite\\time_series.db",
        "mode": "RWC"
    },
    {
        "id": "1c9182742842c839",
        "type": "ui_group",
        "name": "Default",
        "tab": "7810a4c14fa5646d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "30d136540955ba16",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_project",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "04c13159959506fc",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "ThreadNetworkRouter/EYESENSOR/7C:D9:F4:1B:47:EB",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "688390c0a48536dc",
                "2467268f407c1018"
            ]
        ]
    },
    {
        "id": "688390c0a48536dc",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Raw MQTT 7C:D9:F4:1B:47:EB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 80,
        "wires": []
    },
    {
        "id": "f663a757c1680c79",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "eye_sensor/test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 780,
        "wires": [
            [
                "3e419bf6fbe57830"
            ]
        ]
    },
    {
        "id": "2467268f407c1018",
        "type": "json",
        "z": "7e358819edc1de4f",
        "name": "parser Temp_C",
        "property": "msg.payload.Temp_C",
        "action": "str",
        "pretty": false,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "cae2d2e1df85774f",
                "f37bcec90cc3da72",
                "cee5b80bbfbfe66d"
            ]
        ]
    },
    {
        "id": "cae2d2e1df85774f",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Temp_C",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "f58fca8d5b950a4e",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "ThreadNetworkRouter/EYESENSOR/7C:D9:F4:12:CD:63",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "d552d6c7e7abdfc9"
            ]
        ]
    },
    {
        "id": "d552d6c7e7abdfc9",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Raw MQTT 7C:D9:F4:12:CD:63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e419bf6fbe57830",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "eye_sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "d04c3a9c69aa1a21",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "ThreadNetworkRouter/EYESENSOR/7C:D9:F4:10:E2:9F",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "b16c5137c947f008"
            ]
        ]
    },
    {
        "id": "b16c5137c947f008",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Raw MQTT 7C:D9:F4:10:E2:9F",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "22d6ac40e9ed61a7",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "ThreadNetworkRouter/EYESENSOR/7C:D9:F4:11:7A:DA",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "b854c3b34268c9df"
            ]
        ]
    },
    {
        "id": "b854c3b34268c9df",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Raw MQTT 7C:D9:F4:11:7A:DA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 500,
        "wires": []
    },
    {
        "id": "9f802c36b3b92e7b",
        "type": "mqtt in",
        "z": "7e358819edc1de4f",
        "name": "",
        "topic": "ThreadNetworkRouter/EYESENSOR/7C:D9:F4:11:26:CB",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "b30c3f1bb5b78aa0"
            ]
        ]
    },
    {
        "id": "b30c3f1bb5b78aa0",
        "type": "debug",
        "z": "7e358819edc1de4f",
        "name": "Raw MQTT 7C:D9:F4:11:26:CB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "f37bcec90cc3da72",
        "type": "ui_text",
        "z": "7e358819edc1de4f",
        "group": "1c9182742842c839",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload.Temp_C}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "cee5b80bbfbfe66d",
        "type": "ui_chart",
        "z": "7e358819edc1de4f",
        "name": "",
        "group": "1c9182742842c839",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "523b89ce5226e075",
        "type": "template",
        "z": "a1a2a771626c645c",
        "name": "dataTable",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "mustache",
        "template": "DEVICE TEXT NOT NULL,\nDATA TEXT NOT NULL",
        "output": "str",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "71bb863e23b9c23b"
            ]
        ]
    },
    {
        "id": "71bb863e23b9c23b",
        "type": "function",
        "z": "a1a2a771626c645c",
        "name": "Create dataTable",
        "func": "var payload=msg.payload;\npayload = payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nmsg.topic=\"CREATE TABLE sensor_data2(\"+payload + \")\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 40,
        "wires": [
            [
                "073f29b2e6cbe474",
                "c3f1cf9a353bcb95"
            ]
        ]
    },
    {
        "id": "073f29b2e6cbe474",
        "type": "sqlite",
        "z": "a1a2a771626c645c",
        "mydb": "1870f3379de5d94e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "c3f1cf9a353bcb95"
            ]
        ]
    },
    {
        "id": "c43da7f7cffbfe51",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "create sensor_data1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE sensor_data1(DEVICE TEXT NOT NULL,TIMESTAMP INT NOT NULL,TEMPERATURE REAL NOT NULL,HUMIDITY REAL NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "073f29b2e6cbe474"
            ]
        ]
    },
    {
        "id": "d738a96e3ae71f8c",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "drop table sensor_data2",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "073f29b2e6cbe474"
            ]
        ]
    },
    {
        "id": "c3f1cf9a353bcb95",
        "type": "debug",
        "z": "a1a2a771626c645c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "aee9a4b1c450824d",
        "type": "function",
        "z": "a1a2a771626c645c",
        "name": "Create Sample Data",
        "func": "// @ts-nocheck\nlet d=new Date();\nlet timestamp=d.getTime();\nlet x=Math.floor(Math.random() * 10);\nlet y=Math.floor(Math.random() * 100);\ntemp=10+x;\nhumidity=40+y;\nlet payload={timestamp:timestamp,temperature:temp,humidity:humidity};\npayload =JSON.stringify(payload);\nlet device=\"sensor1\";\nm_out=\"( device,data) values(\";\nm_out=m_out+\"\\'\"+device+\"\\',\" +\"\\'\"+payload+\"\\'\"; //this is the data \nm_out=m_out+\")\";\nvar topic=\"INSERT INTO  sensor_data2 \" +m_out;\nmsg.topic=topic;\nmsg.payload=\"\";\nreturn msg;\n\n\n// let d=new Date();\n// let timestamp=d.getTime();\n// let x=Math.floor(Math.random() * 10);\n// let y=Math.floor(Math.random() * 100);\n// temp=10+x;\n// humidity=40+y;\n// let payload={timestamp:timestamp,temperature:temp,humidity:humidity};\n// payload =JSON.stringify(payload);\n// let device=\"sensor1\";\n// m_out=\"( device,data) values(\";\n// m_out=m_out+\"\\'\"+device+\"\\',\" +\"\\'\"+payload+\"\\'\"; //this is the data \n// m_out=m_out+\")\";\n// var topic=\"INSERT INTO  sensor_data2 \" +m_out;\n// msg.topic=topic;\n// msg.payload=\"\";\n// return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "3287d7f15b5204ae",
                "50905714ea845abe"
            ]
        ]
    },
    {
        "id": "3287d7f15b5204ae",
        "type": "sqlite",
        "z": "a1a2a771626c645c",
        "mydb": "b18d834483bc3449",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "insert",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "50905714ea845abe"
            ]
        ]
    },
    {
        "id": "d215cbd4f395e172",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "aee9a4b1c450824d"
            ]
        ]
    },
    {
        "id": "50905714ea845abe",
        "type": "debug",
        "z": "a1a2a771626c645c",
        "name": "insert out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 660,
        "wires": []
    },
    {
        "id": "02155fa10497ab7b",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from data where json_extract(data, '$.type') =humidity",
        "payloadType": "date",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "04780e15c53d6928"
            ]
        ]
    },
    {
        "id": "04780e15c53d6928",
        "type": "function",
        "z": "a1a2a771626c645c",
        "name": "get temp >16",
        "func": "msg.topic=\"select * from sensor_data2 where json_extract(sensor_data2.data,'$.temperature') >=16\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 560,
        "wires": [
            [
                "3287d7f15b5204ae"
            ]
        ]
    },
    {
        "id": "6329d5c56a519471",
        "type": "function",
        "z": "a1a2a771626c645c",
        "name": "update json value",
        "func": "let temp=\"update sensor_data2 set data=\";\ntemp=temp+\"json_set(sensor_data2.data,'$.humidity',59) where json_extract(sensor_data2.data,'$.timestamp')=1650223112523\";\nmsg.topic=temp;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 660,
        "wires": [
            [
                "3287d7f15b5204ae"
            ]
        ]
    },
    {
        "id": "93e7162e1207f7ab",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from data where json_extract(data, '$.type') =humidity",
        "payloadType": "date",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "6329d5c56a519471"
            ]
        ]
    },
    {
        "id": "1c7c0fa979a7a5b3",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "create sensor_data2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE sensor_data2(DEVICE TEXT NOT NULL,DATA TEXT NOT NULL)",
        "payloadType": "date",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "073f29b2e6cbe474"
            ]
        ]
    },
    {
        "id": "1a4942a3900a7540",
        "type": "inject",
        "z": "a1a2a771626c645c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "523b89ce5226e075"
            ]
        ]
    },
    {
        "id": "0abcc85574f256e6",
        "type": "comment",
        "z": "a1a2a771626c645c",
        "name": "Function node and template",
        "info": "I use theis function node with a suitable template to create the code to create the table",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "5bcca26f.6bfcbc",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "SQL",
        "func": "// This will handle any device and any attribute as long as it is in the DB\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\nsourcelist = context.get(\"sourcelist\");\nif (sourcelist===undefined) { // if running for the first time\n    sourcelist = [];\n}\naggrlist = context.get(\"aggrlist\");\nif (aggrlist===undefined) { // if running for the first time\n    aggrlist = [];\n}\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = current-p_1d;\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"datasource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            sourcelist = [];\n        } else {\n            sourcelist = context.get(\"sourcelist\");\n            if (sourcelist===undefined) { // if running for the first time\n                sourcelist = [];\n            }\n            sourcelist.push(msg.payload);\n        }\n        context.set(\"sourcelist\",sourcelist);\n        break;\n    case \"aggrsource\":\n        if (msg.payload===\"delete\") {\n            // remove all previous data sources\n            aggrlist = [];\n        } else {\n            aggrlist = context.get(\"aggrlist\");\n            if (aggrlist===undefined) { // if running for the first time\n                aggrlist = [];\n            }\n            aggrlist.push(msg.payload);\n        }\n        context.set(\"aggrlist\",aggrlist);\n        break;\n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\nif (sourcelist.length>0) {\n    for (var i = 0; i < sourcelist.length; i++) {\n        var parts = sourcelist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (aggrlist.length>0) {\n    for (var i = 0; i < aggrlist.length; i++) {\n        var parts = aggrlist[i].split(\"/\");\n        sql.push({ topic: \"SELECT * FROM sensor_aggr WHERE device='\"+parts[0]+\"' AND sensor='\"+parts[1]+\"' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n    }\n} \nif (sql.length===0) {    \n    // Dummy select that returns nothing to clear the chart\n    sql.push({ topic: \"SELECT * FROM sensor_data WHERE device='xxxx'\" });\n}\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n// pass along the email flag to redirect the flow later\nif (msg.topic===\"email\") {\n    sql[sql.length-1].email=true;\n}\n\n// Generate report title\nif (sourcelist.length===0 && aggrlist.length===0) {\n    title = \"No data source\";\n} else {\n    if (sourcelist.length!==0) {\n        title = title + sourcelist.toString()+ \", \";\n    }\n    if (aggrlist.length!==0) {\n        title = title + aggrlist.toString()+ \", \";\n    }\n    title = title.substring(0,title.length-2);\n    title = title + \" | \";\n\n    var d = new Date();\n    d.setTime(fromdate);\n    var yyyy = d.getFullYear();\n    var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + dd + \".\" + mm + \".\" + yyyy;\n    d.setTime(enddate);\n    yyyy = d.getFullYear();\n    mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n    dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n    hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n    mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n    ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n    title = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n}\nsql[sql.length-1].title=title;\n\nreturn [ sql ];\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "5e720daf.769fd4"
            ]
        ]
    },
    {
        "id": "ec068ef5.79225",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "Chart Prep",
        "func": "var msg2 = [];\n\nif (msg.payload[0].length>0) {\n    // this is the logic when there are multiple data sets are received\n    for (var i=0; i<msg.payload.length; i++) {\n        var output = [];\n        for (var j=0; j<msg.payload[i].length; j++) {\n            output.push([msg.payload[i][j].epoch, msg.payload[i][j].value]);\n        }\n        msg2.push({ key: msg.payload[i][0].device+\"/\"+msg.payload[i][0].sensor, values : output});\n        //msg2.push({ key: \"test\", values : output});\n    }\n} \n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1012.8334121704102,
        "y": 719.5833225250244,
        "wires": [
            [
                "cb92ae57.09059"
            ]
        ]
    },
    {
        "id": "9964baf6.331138",
        "type": "inject",
        "z": "8d169fbed83cb098",
        "name": "Reset chart",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 710.7499923706055,
        "y": 777.0000095367432,
        "wires": [
            [
                "af278fff.e1d3f"
            ]
        ]
    },
    {
        "id": "af278fff.e1d3f",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "Empty payload",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 958.6666641235352,
        "y": 776.3333234786987,
        "wires": [
            [
                "cb92ae57.09059"
            ]
        ]
    },
    {
        "id": "c20b5c42.f420f",
        "type": "join",
        "z": "8d169fbed83cb098",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 823,
        "y": 680,
        "wires": [
            [
                "a6b7ba9c.5094e8",
                "ec068ef5.79225"
            ]
        ]
    },
    {
        "id": "61b56f57.0a0f7",
        "type": "inject",
        "z": "8d169fbed83cb098",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 511.25,
        "y": 475.75,
        "wires": [
            [
                "81965321.61cc2",
                "37ad97f5.526bd8",
                "443fe9e5.bfd078"
            ]
        ]
    },
    {
        "id": "385704d6.4dd9fc",
        "type": "change",
        "z": "8d169fbed83cb098",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 509.25,
        "y": 535.75,
        "wires": [
            [
                "37ad97f5.526bd8"
            ]
        ]
    },
    {
        "id": "a6b7ba9c.5094e8",
        "type": "change",
        "z": "8d169fbed83cb098",
        "name": "Title",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1029.500015258789,
        "y": 632.0000095367432,
        "wires": [
            [
                "c0da0d06.fc4fe"
            ]
        ]
    },
    {
        "id": "20534bd3.4d4ce4",
        "type": "inject",
        "z": "8d169fbed83cb098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 328.75,
        "y": 942.0000152587891,
        "wires": [
            [
                "a5e70941.a031e8"
            ]
        ]
    },
    {
        "id": "a5e70941.a031e8",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "SQL",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_30d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_30d;\nenddate = enddate - p_30d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];",
        "outputs": 1,
        "noerr": 0,
        "x": 494.75,
        "y": 942.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "96c84720.d7c3d8",
        "type": "join",
        "z": "8d169fbed83cb098",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 772.75,
        "y": 941.0000152587891,
        "wires": [
            [
                "45c2e2fd.ef494c"
            ]
        ]
    },
    {
        "id": "45c2e2fd.ef494c",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "Prep Data",
        "func": "// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 30 days\";\nmsg.current = Math.floor(msg.payload[0][0].value/1000);\nmsg.unit = \"kWh\";\nmsg.reference = Math.floor(msg.payload[1][0].value/1000);\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"up\";\n} else {\n    msg.trend = \"down\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 934.75,
        "y": 941.0000152587891,
        "wires": [
            [
                "cc92346b.705a48"
            ]
        ]
    },
    {
        "id": "b92511c2.dcdb9",
        "type": "inject",
        "z": "8d169fbed83cb098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 326.75,
        "y": 994.0000152587891,
        "wires": [
            [
                "c702b1ec.7630d"
            ]
        ]
    },
    {
        "id": "c702b1ec.7630d",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "SQL",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_7d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_7d;\nenddate = enddate - p_7d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];",
        "outputs": 1,
        "noerr": 0,
        "x": 492.75,
        "y": 994.0000152587891,
        "wires": [
            [
                "30ab7eb5.ac6d92"
            ]
        ]
    },
    {
        "id": "135e1ba7.37e084",
        "type": "join",
        "z": "8d169fbed83cb098",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "",
        "count": "",
        "x": 770.75,
        "y": 993.0000152587891,
        "wires": [
            [
                "39dbca89.dc7cf6"
            ]
        ]
    },
    {
        "id": "39dbca89.dc7cf6",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "Prep Data",
        "func": "// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 7 days\";\nmsg.current = parseFloat(msg.payload[0][0].value/1000).toFixed(1);\nmsg.unit = \"kWh\";\nmsg.reference = Math.abs(Math.floor((msg.payload[0][0].value-msg.payload[1][0].value)/msg.payload[0][0].value*100)) + \"%\";\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"up\";\n} else {\n    msg.trend = \"down\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 932.75,
        "y": 993.0000152587891,
        "wires": [
            [
                "e4f4f09c.c649a"
            ]
        ]
    },
    {
        "id": "4170ba3b.43ec44",
        "type": "inject",
        "z": "8d169fbed83cb098",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 331.75,
        "y": 1049.000015258789,
        "wires": [
            [
                "ecf97f61.f592"
            ]
        ]
    },
    {
        "id": "ecf97f61.f592",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "SQL",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h-p_1d;\nmsg.topic= \"SELECT * FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch = \" + fromdate + \";\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 497.75,
        "y": 1049.000015258789,
        "wires": [
            []
        ]
    },
    {
        "id": "403c4a4e.c920c4",
        "type": "function",
        "z": "8d169fbed83cb098",
        "name": "Prep Data",
        "func": "// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation yesterday vs. max\";\nmsg.current = parseFloat(msg.payload[0].value/1000).toFixed(2);\nmsg.unit = \"kWh\";\nvar width = Math.abs(Math.floor(msg.payload[0].value/20000*100));\nmsg.reference = width.toString() + \"%\";\nmsg.reference2 = (100-width).toString() + \"%\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 802.75,
        "y": 1048.000015258789,
        "wires": [
            [
                "1eafe5de.0e410a"
            ]
        ]
    },
    {
        "id": "7cd4216b.bbb1b",
        "type": "ui_button",
        "z": "8d169fbed83cb098",
        "name": "",
        "group": "9d5d0e0a.e0772",
        "order": 5,
        "width": "2",
        "height": "1",
        "label": "-1W",
        "color": "",
        "bgcolor": "",
        "icon": "chevron_left",
        "payload": "",
        "payloadType": "str",
        "topic": "minus1w",
        "x": 281.25,
        "y": 468.75,
        "wires": [
            [
                "385704d6.4dd9fc",
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "c550a633.1ceea8",
        "type": "ui_button",
        "z": "8d169fbed83cb098",
        "name": "",
        "group": "9d5d0e0a.e0772",
        "order": 6,
        "width": "2",
        "height": "1",
        "label": "-1D",
        "color": "",
        "bgcolor": "",
        "icon": "chevron_left",
        "payload": "",
        "payloadType": "str",
        "topic": "minus1d",
        "x": 279.25,
        "y": 505.75,
        "wires": [
            [
                "385704d6.4dd9fc",
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "653b1b47.607e54",
        "type": "ui_button",
        "z": "8d169fbed83cb098",
        "name": "",
        "group": "9d5d0e0a.e0772",
        "order": 8,
        "width": "2",
        "height": "1",
        "label": "+1W",
        "color": "",
        "bgcolor": "",
        "icon": "chevron_right",
        "payload": "",
        "payloadType": "str",
        "topic": "plus1w",
        "x": 282.25,
        "y": 543.75,
        "wires": [
            [
                "385704d6.4dd9fc",
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "b49dcc31.1d03f",
        "type": "ui_button",
        "z": "8d169fbed83cb098",
        "name": "",
        "group": "9d5d0e0a.e0772",
        "order": 7,
        "width": "2",
        "height": "1",
        "label": "+1D",
        "color": "",
        "bgcolor": "",
        "icon": "chevron_right",
        "payload": "",
        "payloadType": "str",
        "topic": "plus1d",
        "x": 280.25,
        "y": 580.75,
        "wires": [
            [
                "385704d6.4dd9fc",
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "81965321.61cc2",
        "type": "ui_dropdown",
        "z": "8d169fbed83cb098",
        "name": "Data source",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "9d5d0e0a.e0772",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "[Remove all]",
                "value": "delete",
                "type": "str"
            },
            {
                "label": "Miflora temperature",
                "value": "miflora/temp",
                "type": "str"
            },
            {
                "label": "Miflora battery level",
                "value": "miflora/battery",
                "type": "str"
            },
            {
                "label": "Miflora sunlight",
                "value": "miflora/sunlight",
                "type": "str"
            },
            {
                "label": "Miflora soil moisture",
                "value": "miflora/moisture",
                "type": "str"
            },
            {
                "label": "Miflora soil fertility",
                "value": "miflora/fertility",
                "type": "str"
            },
            {
                "label": "Solar power",
                "value": "growatt/power",
                "type": "str"
            },
            {
                "label": "Solar voltage",
                "value": "growatt/voltage",
                "type": "str"
            },
            {
                "label": "Pool temperature",
                "value": "poolheater/pool",
                "type": "str"
            },
            {
                "label": "Solar temperature",
                "value": "poolheater/solar",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "datasource",
        "topicType": "str",
        "className": "",
        "x": 720.25,
        "y": 492.75,
        "wires": [
            [
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "37ad97f5.526bd8",
        "type": "ui_dropdown",
        "z": "8d169fbed83cb098",
        "name": "Period",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "9d5d0e0a.e0772",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Today",
                "value": "today",
                "type": "str"
            },
            {
                "label": "Yesterday",
                "value": "yesterday",
                "type": "str"
            },
            {
                "label": "This week",
                "value": "thisweek",
                "type": "str"
            },
            {
                "label": "Last week",
                "value": "lastweek",
                "type": "str"
            },
            {
                "label": "Last 24 hours",
                "value": "last24h",
                "type": "str"
            },
            {
                "label": "Last 7 days",
                "value": "last7d",
                "type": "str"
            },
            {
                "label": "Last 30 days",
                "value": "last30d",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "period",
        "topicType": "str",
        "className": "",
        "x": 699.25,
        "y": 535.75,
        "wires": [
            [
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "443fe9e5.bfd078",
        "type": "ui_dropdown",
        "z": "8d169fbed83cb098",
        "name": "Aggregate source",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "9d5d0e0a.e0772",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "[Remove all]",
                "value": "delete",
                "type": "str"
            },
            {
                "label": "Miflora temperature Max",
                "value": "miflora/temp_max",
                "type": "str"
            },
            {
                "label": "Miflora battery level Min",
                "value": "miflora/battery_min",
                "type": "str"
            },
            {
                "label": "Miflora soil moisture",
                "value": "miflora/moisture",
                "type": "str"
            },
            {
                "label": "Solar power Max",
                "value": "growatt/power_max",
                "type": "str"
            },
            {
                "label": "Solar daily generation",
                "value": "growatt/today",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aggrsource",
        "topicType": "str",
        "className": "",
        "x": 739.25,
        "y": 450.75,
        "wires": [
            [
                "5bcca26f.6bfcbc"
            ]
        ]
    },
    {
        "id": "c0da0d06.fc4fe",
        "type": "ui_text",
        "z": "8d169fbed83cb098",
        "group": "31f14418.dc50dc",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Chart title",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1181.500015258789,
        "y": 632.0000095367432,
        "wires": []
    },
    {
        "id": "cb92ae57.09059",
        "type": "ui_chart",
        "z": "8d169fbed83cb098",
        "name": "Chart",
        "group": "31f14418.dc50dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1185.6666946411133,
        "y": 719.2499485015869,
        "wires": [
            []
        ]
    },
    {
        "id": "cc92346b.705a48",
        "type": "ui_template",
        "z": "8d169fbed83cb098",
        "group": "a7e2730.babc99",
        "name": "Trend",
        "order": 3,
        "width": "4",
        "height": "3",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">{{(msg.trend === 'up') ? '&#8679;' : '&#8681;'}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 1095.75,
        "y": 941.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "e4f4f09c.c649a",
        "type": "ui_template",
        "z": "8d169fbed83cb098",
        "group": "68451cd2.bb5e44",
        "name": "Trend",
        "order": 3,
        "width": "4",
        "height": "3",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">{{(msg.trend === 'up') ? '&#8679;' : '&#8681;'}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 1093.75,
        "y": 993.0000152587891,
        "wires": [
            []
        ]
    },
    {
        "id": "1eafe5de.0e410a",
        "type": "ui_template",
        "z": "8d169fbed83cb098",
        "group": "3a578850.88b108",
        "name": "Trend",
        "order": 3,
        "width": "4",
        "height": "3",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td colspan=\"2\">{{msg.title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{msg.current}}</span><br/>{{msg.unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold;\" ng-style=\"{color: msg.trend === 'up' ? 'green' : 'red'}\">&nbsp;</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{msg.reference}}</td>\n        </tr>\n        <tr style=\"background-color: lightgrey;\"><td colspan=\"2\">\n            <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\"><tr>\n            <td width={{msg.reference}} style=\"border-bottom: 6px solid blue;\"></td><td width={{msg.reference2}}></td>\n            </tr></table></td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 963.75,
        "y": 1048.000015258789,
        "wires": [
            []
        ]
    },
    {
        "id": "5e720daf.769fd4",
        "type": "sqlite",
        "z": "8d169fbed83cb098",
        "mydb": "467bb75bf6cfb401",
        "sql": "",
        "name": "DB",
        "x": 690,
        "y": 680,
        "wires": [
            [
                "c20b5c42.f420f"
            ]
        ]
    },
    {
        "id": "f09ccb4f.de86a8",
        "type": "sqlite",
        "z": "8d169fbed83cb098",
        "mydb": "818877cea5567e69",
        "sql": "",
        "name": "DB",
        "x": 639.75,
        "y": 941.0000152587891,
        "wires": [
            [
                "96c84720.d7c3d8"
            ]
        ]
    },
    {
        "id": "30ab7eb5.ac6d92",
        "type": "sqlite",
        "z": "8d169fbed83cb098",
        "mydb": "252aabfa4da1c33d",
        "sql": "",
        "name": "DB",
        "x": 637.75,
        "y": 993.0000152587891,
        "wires": [
            [
                "135e1ba7.37e084"
            ]
        ]
    },
    {
        "id": "cdb78fba.a23c9",
        "type": "sqlite",
        "z": "8d169fbed83cb098",
        "mydb": "1870f3379de5d94e",
        "sql": "",
        "name": "DB",
        "x": 642.75,
        "y": 1048.000015258789,
        "wires": [
            [
                "403c4a4e.c920c4"
            ]
        ]
    },
    {
        "id": "782b06fb.cc1df8",
        "type": "comment",
        "z": "ce251345012314b9",
        "name": "Auto Logger archiving",
        "info": "Generate file name that are to be archived.\n\nIdea is that this generates a list of file names for let's say between current day-5 days to current day-10 days, so all files that are 5-10 days old will get archived. And this can be executed daily or weekly, and the interval allows some overlap (e.g. the program fails, Node-Red was down, etc.)\n\nInject node should contain a JSON:\n{    \n    \"start\": 20,    \n    \"end\": 10\n}\n\nThis will generate file names D-20 to D-10 days.\nStart should be greather than end!\n",
        "x": 180,
        "y": 580,
        "wires": []
    },
    {
        "id": "f14e2f71.1ad87",
        "type": "function",
        "z": "ce251345012314b9",
        "name": "Maplin Filename generator",
        "func": "let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "5ba61ce5.11d8a4"
            ]
        ]
    },
    {
        "id": "b57ab78e.cf1658",
        "type": "function",
        "z": "ce251345012314b9",
        "name": "Weather Station Filename generator",
        "func": "let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"weather_sensor_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "5ba61ce5.11d8a4"
            ]
        ]
    },
    {
        "id": "5e47f3b4.7c779c",
        "type": "inject",
        "z": "ce251345012314b9",
        "name": "Start",
        "props": [
            {
                "p": "payload",
                "v": "{\"start\":20,\"end\":10}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "40 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"start\":20,\"end\":10}",
        "payloadType": "json",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "f14e2f71.1ad87",
                "b57ab78e.cf1658"
            ]
        ]
    },
    {
        "id": "ad87fee.c53d5",
        "type": "exec",
        "z": "ce251345012314b9",
        "command": "/home/pi/log_upload.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "File upload",
        "x": 770,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "5f0f09f4.a09208"
            ]
        ]
    },
    {
        "id": "5f0f09f4.a09208",
        "type": "switch",
        "z": "ce251345012314b9",
        "name": "Return code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 760,
        "wires": [
            [],
            [
                "639dcab5.1028b4"
            ]
        ]
    },
    {
        "id": "49210be0.0dbbe4",
        "type": "exec",
        "z": "ce251345012314b9",
        "command": "sudo rm ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "File delete",
        "x": 1190,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "1fee1de5.695e32"
            ]
        ]
    },
    {
        "id": "639dcab5.1028b4",
        "type": "change",
        "z": "ce251345012314b9",
        "name": "Get filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "49210be0.0dbbe4"
            ]
        ]
    },
    {
        "id": "1fee1de5.695e32",
        "type": "switch",
        "z": "ce251345012314b9",
        "name": "Return code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1410,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ba61ce5.11d8a4",
        "type": "delay",
        "z": "ce251345012314b9",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 700,
        "y": 860,
        "wires": [
            [
                "ad87fee.c53d5"
            ]
        ]
    },
    {
        "id": "9da5c02.66c844",
        "type": "comment",
        "z": "ce251345012314b9",
        "name": "log_upload.sh",
        "info": "ftp -inv 192.168.1.x << EOF\n    user <username> <password>\n    binary\n    cd backup/logs\n    lcd /home/pi/datalog\n    put $1\nEOF",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "f79c29b7.055068",
        "type": "comment",
        "z": "ce251345012314b9",
        "name": "Auto Logger",
        "info": "",
        "x": 190,
        "y": 940,
        "wires": []
    },
    {
        "id": "4c8ae605.33be88",
        "type": "function",
        "z": "ce251345012314b9",
        "name": "Set data",
        "func": "var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.msg433.TEMP,\n    \"humidity\" : msg.msg433.HUM\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "f46f569e.ff1a08"
            ]
        ]
    },
    {
        "id": "f46f569e.ff1a08",
        "type": "function",
        "z": "ce251345012314b9",
        "name": "Filename generator",
        "func": "// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/datalog/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "a96494a5.b0f4c8",
        "type": "debug",
        "z": "ce251345012314b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3db97537.b889ea",
        "type": "switch",
        "z": "ce251345012314b9",
        "name": "",
        "property": "$count(msg.payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "3cb887e8.e533a8"
            ],
            [
                "f3ba1c7a.54ef5"
            ]
        ]
    },
    {
        "id": "fe6f74d5.674ec8",
        "type": "csv",
        "z": "ce251345012314b9",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "3a8ebdf3.772cc2"
            ]
        ]
    },
    {
        "id": "3a8ebdf3.772cc2",
        "type": "file",
        "z": "ce251345012314b9",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "f226a86d.9bdfb8",
        "type": "csv",
        "z": "ce251345012314b9",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 930,
        "y": 1140,
        "wires": [
            [
                "3a8ebdf3.772cc2"
            ]
        ]
    },
    {
        "id": "3cb887e8.e533a8",
        "type": "change",
        "z": "ce251345012314b9",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1100,
        "wires": [
            [
                "fe6f74d5.674ec8"
            ]
        ]
    },
    {
        "id": "f3ba1c7a.54ef5",
        "type": "change",
        "z": "ce251345012314b9",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1140,
        "wires": [
            [
                "f226a86d.9bdfb8"
            ]
        ]
    },
    {
        "id": "fa6936f.7758dc8",
        "type": "fs-file-lister",
        "z": "ce251345012314b9",
        "name": "",
        "start": "/home/pi/datalog/",
        "pattern": "",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "a96494a5.b0f4c8",
                "3db97537.b889ea"
            ]
        ]
    },
    {
        "id": "9872e1c97a7918b7",
        "type": "mqtt in",
        "z": "804ec40c8f1f56eb",
        "name": "",
        "topic": "ble/reports_ESP32_S3",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "7bb18eac65e35530",
                "e9a521d48fe3e4c5"
            ]
        ]
    },
    {
        "id": "7bb18eac65e35530",
        "type": "json",
        "z": "804ec40c8f1f56eb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c5cce3620441842b",
                "14399b1417d3d07e"
            ]
        ]
    },
    {
        "id": "c5cce3620441842b",
        "type": "function",
        "z": "804ec40c8f1f56eb",
        "name": "Prepare SQL",
        "func": "// 1.  Topic  ( ble/reports_ESP32_S3)\nvar sourceTopic = msg.topic;\n\n// 2.  Reports\nvar reports = msg.payload.reports;\nvar msgs = [];\n\n// \nif (reports && Array.isArray(reports)) {\n    \n    //  SQL\n    for (var i = 0; i < reports.length; i++) {\n        var item = reports[i];\n        var mac = item.MAC;\n        var rssi = item.RSSI;\n        var data = item.Data;\n        var ts = item.ts ? item.ts : 0;\n\n        //  SQL  source_topic \n        msgs.push({\n            topic: \"INSERT INTO ble_logs (mac_address, rssi, raw_data, device_ts, source_topic) VALUES (?, ?, ?, ?, ?)\",\n            //  sourceTopic \n            payload: [mac, rssi, data, ts, sourceTopic]\n        });\n    }\n    return [msgs];\n} else {\n    node.warn(\"Data Format Error: \" + JSON.stringify(msg.payload));\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "caf7f6b417443265"
            ]
        ]
    },
    {
        "id": "caf7f6b417443265",
        "type": "mysql",
        "z": "804ec40c8f1f56eb",
        "mydb": "30d136540955ba16",
        "name": "",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "65bef040dbea4fab"
            ]
        ]
    },
    {
        "id": "65bef040dbea4fab",
        "type": "debug",
        "z": "804ec40c8f1f56eb",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1799496c0018299",
        "type": "ui_chart",
        "z": "804ec40c8f1f56eb",
        "name": "IoT Monitor",
        "group": "31f14418.dc50dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "RSSI Signal",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "14399b1417d3d07e",
        "type": "function",
        "z": "804ec40c8f1f56eb",
        "name": "Filter Device",
        "func": "// 1.  MAC Address  Device  ()\nvar targetMAC = \"7CD9F41B47EB\"; \n\nvar reports = msg.payload.reports;\nvar gatewayName = \"\";\n\n// 2.  Gateway  ( Topic MQTT)\nif (msg.topic.includes(\"S3\")) {\n    gatewayName = \"Gateway S3\";\n} else if (msg.topic.includes(\"C6\")) {\n    gatewayName = \"Gateway C6\";\n} else {\n    //  \n    return null;\n}\n\n// 3.  RSSI  Device \nif (reports && Array.isArray(reports)) {\n    for (var i = 0; i < reports.length; i++) {\n        if (reports[i].MAC == targetMAC) {\n            \n            //  RSSI \n            msg.payload = reports[i].RSSI;\n            \n            // **  (S3  C6)\n            msg.topic = gatewayName; \n            \n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "a1799496c0018299"
            ]
        ]
    },
    {
        "id": "160fc210c909a6da",
        "type": "mqtt in",
        "z": "804ec40c8f1f56eb",
        "name": "",
        "topic": "ble/reports_ESP32_C6",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "7bb18eac65e35530"
            ]
        ]
    },
    {
        "id": "e9a521d48fe3e4c5",
        "type": "debug",
        "z": "804ec40c8f1f56eb",
        "name": "debug ble/report",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "bafef97122d8046e",
        "type": "mqtt in",
        "z": "804ec40c8f1f56eb",
        "name": "",
        "topic": "ble/reports_ESP32_WROOM32",
        "qos": "0",
        "datatype": "utf8",
        "broker": "1612145bd63c7ec7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 360,
        "wires": [
            []
        ]
    }
]